/* layoutGeneral Styles */
.main-header,
.main-footer {
    background-color: var(--color-header-footer);
    color: var(--color-background);
}

/* Header Styles */
.header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_container-img {
    max-width: 100%;
}

.header_img {
    display: block;
    width: 100%;
    height: auto;
}

.header_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--spacing-unit-medium);
}

.header_nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_nav-item {
    margin-bottom: var(--spacing-unit-small);
}

.header_nav-item.selected .header_nav-link {
    color: var(--color-primary);
    font-weight: bold;
    border-bottom: 1px solid var(--color-primary);
    animation: pulse 3s ease-in infinite;
}

.header_nav-link {
    color: var(--color-secondary);
    text-decoration: none;
    padding: var(--spacing-unit-small);
    transition: color 0.3s ease;
}

.header_nav-link:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

@keyframes pulse {
    0% {
        filter: brightness(90%);
    }
    50% {
        filter: brightness(150%);
    }
    100% {
        filter: brightness(90%);
    }
}
/* Responsive Styles */
@media (min-width: 23rem) {
    .header_nav-list {
        flex-direction: row;
    }
}

@media (min-width: 48rem) {
    .header__wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .header_nav {
        flex-direction: row;
        align-items: center;
        margin-top: 0;
    }

    .header_nav-item {
        margin-bottom: 0;
        margin-right: var(--spacing-unit-medium);
    }
}

/* Footer Styles */
.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__body {
    width: 100%;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
}

/* Newsletter Styles */
.footer__newsletter {
    margin-bottom: var(--spacing-unit-large);
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__section-title {
    font-size: var(--font-size-subheading);
    margin-bottom: var(--spacing-unit-small);
    color: var(--color-secondary);
}

.footer__form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 31.25rem; /* 500px */
}

.footer__input {
    flex: 1;
    padding: var(--spacing-unit-medium);
    border-radius: 1.5625rem; /* Oval input */
    border: 1px solid var(--color-primary);
    width: 100%;
    padding-right: 5rem; /* Space for the button inside the input */
    box-sizing: border-box;
}

.footer__submit {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;
    width: 120px;
    border-radius: 100vh; /* Oval button */
    background-color: var(--color-primary);
    color: white;
    border: none;
    cursor: pointer;
    height: auto;
    box-sizing: border-box;
}

.footer__submit:hover {
    background-color: var(--color-button-hover);
}

/* Links Styles */
.footer__links {
    display: flex;
    margin-bottom: var(--spacing-unit-medium);
    flex-direction: column;
    align-items: center;
}

.footer__link-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer__link-item {
    margin-bottom: var(--spacing-unit-small);
    padding: var(--spacing-unit-medium);
}

.footer__link {
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer__link:hover {
    color: var(--color-primary);
}

.footer__about {
    margin-bottom: var(--spacing-unit-medium);
}

.footer__about-title {
    font-weight: bold;
}
.footer__about-description {
    margin-top: var(--spacing-unit-small);
    max-width: 40rem;
    text-align: justify;
}

/* Company Info Styles */
.footer__company-info {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.footer__company-name {
    font-weight: bold;
}

.footer__company-year {
    font-size: var(--font-size-small);
    color: var(--color-secondary);
}

/* Responsive Styles */
@media (min-width: 48rem) {
    .footer__body {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer__newsletter {
        width: 50%;
    }
    .footer__form {
        max-width: 31.25rem; /* 500px */
    }
    .footer__links {
        width: 50%;
    }
    .footer__about {
        margin: 0 auto;
    }
}