
@import url('layout.css');
@import url('components/main-banner.css');
@import url('components/categories-cards.css');
@import url('components/product-cards.css');

:root {
    --media-query-small: 30rem;     /* 480px */
    --media-query-medium: 48rem;    /* 768px */
    --media-query-large: 62rem;     /* 992px */
    --media-query-xlarge: 75rem;    /* 1200px */
    --media-query-xxlarge: 90rem;   /* 1440px */

    --color-primary: #c5db00;           /* Light green */
    --color-secondary: #6c757d;         /* Dark gray */
    --color-accent: #333;               /* Very dark gray */
    --color-background: #fff;           /* White */
    --color-background-alt: #f4f4f4;    /* Light gray */
    --color-text: #333;                 /* Very dark gray */
    --color-header-footer: #222;        /* Almost black */
    --color-button: #c5db00;            /* Light green */
    --color-button-hover: #a8c400;      /* Darker green */

    --loader-background: rgba(34, 34, 34, 0.8);         /* Semi-transparent dark gray */
    --loader-border-light: #c5db00;                     /* Light green */
    --loader-border-dark: #6c757d;                      /* Dark gray */
    
    --font-family-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-size-base: 1rem;             /* 16px */
    --font-size-small: 0.875rem;        /* 14px */
    --font-size-large: 1.125rem;        /* 18px */
    --font-size-heading: 2rem;          /* 32px */
    --font-size-subheading: 1.5rem;     /* 24px */
    --font-size-text: 1rem;             /* 16px */
    --font-size-text-large: 1.25rem;    /* 20px */
  
    --spacing-unit: 1rem;               /* 16px */
    --spacing-unit-small: 0.5rem;       /* 8px */
    --spacing-unit-medium: 1rem;        /* 16px */
    --spacing-unit-large: 2rem;         /* 32px */
    --spacing-unit-xlarge: 4rem;        /* 64px */

    --spacing-unit-medium-negative: -1rem; /* -16px */
  
    --box-shadow-small: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --box-shadow-medium: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --box-shadow-large: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(135deg, #333, #6c757d, #333);
    background-size: 400% 400%;
    animation: gradientAnimation 30s ease infinite;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base);
    color: var(--color-text);
    background-color: var(--color-background);
    line-height: 1.323;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: opacity 3.5s ease-in; 
    height: 100vh;
    opacity: 0;
}

.page-wrapper.loaded {
    opacity: 1;
}

.header__wrapper,
.main_wrapper, 
.footer__wrapper {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: var(--spacing-unit-medium) var(--spacing-unit);
}


/* Styles for the loader */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--loader-background);
    z-index: 1000;
    transition: opacity 0.3s ease;
    opacity: 1;
    pointer-events: auto;
}

.loader {
    border: 0.5rem solid var(--loader-border-light);
    border-top: 0.5rem solid var(--loader-border-dark);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

/* main loading animation */
.main-content.loading {
    display: flex;
    align-items: center;
    justify-items: center;
    background-image: url('../icons/load.gif');
    background-color: var(--color-header-footer);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

/* lines animation */
.lines {
    position: absolute;
    height: 100%;
    z-index: -1;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
}

.line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
    margin-left: -25%;
}

.line:nth-child(1)::after {
    animation-delay: 2s;
}

.line:nth-child(3) {
    margin-left: 25%;
}

.line:nth-child(3)::after {
    animation-delay: 2.5s;
}

@keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

